<ul class="advice" ng-show="has()">
    <li ng-repeat="o in options">
        <a class="option" href="javascript:;"
           ng-class="{ active: isIt(o) }"
           ng-click="select(o); init();"
           ng-bind="viewOf(o)"></a>
    </li>
</ul>