.menubar {
  height: 35px;
  line-height: 35px;
}
.right {
  float: right;
}
.left {
  float: left;
}
.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-justify {
  text-align: justify;
}
a,
.link {
  color: #3399dd;
  text-decoration: none;
}
a:hover,
.link:hover {
  color: #207ebd;
  text-decoration: underline;
}
.content {
  margin: 0 auto;
  width: 750px;
}
#account {
  font-size: 0.85em;
}
.row {
  display: block;
  width: 100%;
}
.row:after {
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
  content: " ";
}
.col {
  float: left;
  min-height: 1px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.col:not(:first-child) {
  padding-left: 10px;
}
.col:not(:last-child) {
  padding-right: 10px;
}
.col-1 {
  width: 8.333333333333334%;
}
.col-2 {
  width: 16.666666666666668%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.333333333333336%;
}
.col-5 {
  width: 41.66666666666667%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.333333333333336%;
}
.col-8 {
  width: 66.66666666666667%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.33333333333334%;
}
.col-11 {
  width: 91.66666666666667%;
}
.col-12 {
  width: 100%;
}
/*@import "app/debug";*/
