.menubar {
  height: 35px;
  line-height: 35px;
}
.screen {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  text-align: center;
}
.screen:before {
  content: "";
  height: 100%;
}
.screen:before,
.screen .dialog {
  display: inline-block;
  vertical-align: middle;
}
.dialog {
  padding: 20px;
  border: 1px solid #3399dd;
  text-align: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.right {
  float: right;
}
.left {
  float: left;
}
.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-justify {
  text-align: justify;
}
a,
.link {
  color: #3399dd;
  text-decoration: none;
}
a:hover,
.link:hover {
  color: #207ebd;
  text-decoration: underline;
}
html,
body {
  height: 100%;
}
.content {
  margin: 0 auto;
  width: 750px;
}
#account {
  font-size: 0.85em;
}
form label {
  font-weight: bold;
  font-size: 0.85em;
}
.data-row {
  display: block;
  width: 100%;
}
.data-row:after {
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
  content: " ";
}
.data-row + .data-row {
  margin-top: 10px;
}
input,
label {
  line-height: 35px;
  color: #404040;
}
input {
  outline: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
input[type="text"],
input[type="password"] {
  padding: 0 2px;
  width: 100%;
  border: 1px solid #808080;
}
input[type="text"]:focus,
input[type="password"]:focus {
  border-color: #3399dd;
}
.row {
  display: block;
  width: 100%;
}
.row:after {
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
  content: " ";
}
.col {
  float: left;
  min-height: 1px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.col:not(:first-child) {
  padding-left: 10px;
}
.col:not(:last-child) {
  padding-right: 10px;
}
.col-1 {
  width: 8.333333333333334%;
}
.col-2 {
  width: 16.666666666666668%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.333333333333336%;
}
.col-5 {
  width: 41.66666666666667%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.333333333333336%;
}
.col-8 {
  width: 66.66666666666667%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.33333333333334%;
}
.col-11 {
  width: 91.66666666666667%;
}
.col-12 {
  width: 100%;
}
/*@import "app/debug";*/
