.menubar {
  height: 35px;
  line-height: 35px;
}
.right {
  float: right;
}
.left {
  float: left;
}
.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-justify {
  text-align: justify;
}
a,
.link {
  color: #3399dd;
  text-decoration: none;
}
a:hover,
.link:hover {
  color: #207ebd;
  text-decoration: underline;
}
.content {
  margin: 0 auto;
  width: 750px;
}
#account {
  font-size: 0.85em;
}
/*@import "app/debug";*/
