<div id="account" class="right" ng-controller="AuthCtrl">
    
    @if (Request.IsAuthenticated)
    {
        <span>@User.Identity.Name</span>
        <a href="javascript:;" ng-click="signOut()">out</a>
    }

    else
    {
        @Html.Partial("_SignIn")
    }
</div>