<div id="account" class="right" ng-controller="AuthCtrl">
    
    @* account info *@
    <div ng-show="isAuthorized">
        <span>username</span>
        <a href="javascript:;" ng-click="signOut()">out</a>
    </div>
    
    @* authorization form *@
    <div ng-hide="isAuthorized">
        @Html.Partial("_SignIn")
    </div>
</div>