<!DOCTYPE html>

<html>
<head>
    <title>MoneyFlow - @ViewBag.Title</title>
    @Styles.Render("~/client/css/style")
</head>
<body>
    <div class="screen">
        <div class="dialog">
            @RenderBody()
        </div>
    </div>
</body>
</html>