<form id="sign-in" name="sign-in" novalidate
      ng-submit="signIn()">

    <div mf-expand="sign in">
        <input name="user-name" type="email" ng-model="userName" required />
        <div class="validation-box" ng-messages="this['sign-in']['user-name'].$error">
            <span class="validation-msg" ng-message="email">This is not a valid email</span>
            <span class="validation-msg" ng-message="required">This field is required</span>
        </div>

        <input name="password" type="password" ng-model="password" required />
        <div class="validation-box" ng-messages="this['sign-in']['password'].$error">
            <span class="validation-msg" ng-message="required">This field is required</span>
        </div>

        <button class="btn btn-go" type="submit" ng-disabled="this['sign-in'].$invalid">Go</button>
    </div>
</form>