<div ng-controller="AuthCtrl">
    
    @if (Request.IsAuthenticated)
    {
        <span>@User.Identity.Name</span>
        <a href="javascript:;" ng-click="signOut()">out</a>
    }

    else
    {
        <form id="sign-in" ng-submit="signIn()">
            <span mf-expand="sign in">
                <input name="user-name" type="text" ng-model="userName" />
                <input name="password" type="password" ng-model="password" />
                <button class="btn btn-go" type="submit">Go</button>
            </span>
        </form>
    }
</div>