<ul>
    <li ng-repeat="p in vm.periods | orderBy:'-'"
        ng-controller="PeriodCtrl as pd"
        ng-init="pd.init(p)">
        
        <article>
            <h1>{{ p | date:'MMM yyyy' }}</h1>
            
            <table class="table-costs full-width">
                <tr ng-repeat="c in pd.costs | orderBy:'-date' | link:true">
                    
                    <td class="text-center"
                        rowspan="{{ pd.isYesterday(c) && pd.sameDay(c) }}"
                        ng-if="pd.isYesterday(c)"
                        ng-bind="c.date | date:'dd'"></td>

                    <td>{{ c.category.words }}</td>
                    <td class="text-right">{{ c.amount }}</td>
                </tr>
            </table>
            
            <i ng-if="!pd.hasCosts()">
                There are no costs for this period
            </i>
        </article>
    </li>
</ul>