@model Cost

@{
    ViewBag.Title = "Costs tracker";
    ViewBag.AngularApp = "mf.tracker";
    ViewBag.MainCtrl = "TrackerCtrl as vm";
}

<form name="cost-data" novalidate 
      ng-submit="this['cost-data'].$valid && vm.commit()">
    
    <fieldset ng-disabled="vm.isProcessing">

        @* Cost amount *@

        <div class="col col-4">
            @Html.TextBoxFor(m => m.Amount, new
            {
                @class = "text-box-large text-right",
                autofocus = "",
                placeholder = "$",
                ng_model = "vm.cost.amount",
                required = ""
            })
        </div>

        @* Cost cat. *@

        <div class="col col-8 rel">
            @Html.TextBoxFor(m => m.Category, new
            {
                @class = "text-box-large",
                placeholder = "Category",
                mf_advice = "c as c.words from uow['cats']",
                ng_model = "vm.cost.category",
                required = ""
            })
        </div>
        
        @* Commit *@

        <button class="excluded" type="submit">ENTER</button>

    </fieldset>
</form>

<br />

@* Costs list *@

@Html.Partial("_List")

@section Scripts {
    <script src="~/client/js/tracker.js"></script>
}