@model Consumption

@{
    ViewBag.Title = "Consumptions tracker";
    ViewBag.AngularApp = "mf.tracker";
    ViewBag.MainController = "MainCtrl";
}

@using (Html.BeginForm("Index", "Home", null, FormMethod.Post, 
    new { name = "cns-data", ng_submit = "commit()" }))
{
    <div class="col col-4">
        @Html.TextBoxFor(m => m.Amount, new { id = "amt", name = "amt", ng_model = "cns.amt" })
    </div>
    <div class="col col-8">
        <input id="cat" name="cat" type="lookup" ng-model="cns.cat" placeholder="e.g. Car, home or study" />
    </div>
}

@section scripts {
    <script src="~/client/js/tracker.js"></script>
}