@model LoginViewModel

@{
    ViewBag.Title = "Sign In";
}

@using (Html.BeginForm(new { returnUrl = ViewBag.ReturnUrl }))
{
    @Html.AntiForgeryToken()
    
    @* UserName *@
    <div class="row">
        @Html.TextBoxFor(m => m.UserName, new { placeholder = "email", @class = "text-box-large text-center" })
    </div>
    <br />
    @* Password *@
    <div class="row">
        @Html.PasswordFor(m => m.Password, new { placeholder = "your pass", @class = "text-box-large text-center" })
    </div>
    <br />
    <button class="full-width">Sign In</button>
    <hr />
    <div class="row">
        @Html.ActionLink("signin via facebook", "SignInExternal", "Account")
    </div>
}