// ------------------------------
// MoneyFlow Layout
// ------------------------------

html, body {
  height: 100%;
}

.content {
  margin: 0 auto;
  width: @content-width;
}

#header {
  position: relative;
  height: @header-height;
}

#logo {
  position: absolute;
  display: block;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 48px;
  height: 48px;
  background-image: url(images/logo.png);
  opacity: 0.5;

  &:hover {
    opacity: 1;
  }
}

#account {
  line-height: @line-height-large;
}

#sign-in {
  input {
    display: block;

    &:not(:first-child) {
      margin-top: @spacing-small;
    }
  }

  .expand-link {
    padding: @spacing-small;

    &.expanded {
      position: relative;
      .shadow(@shadow-base);

      &:before {
        position: absolute;
        left: 0;
        bottom: -@spacing-small;
        background: @color-white;
        width: 100%;
        height: @spacing-small * 2;
        content: '';
        z-index: 1001;
      }
    }
  }

  .expand-content {
    position: absolute;
    padding: @spacing-base;
    background: @color-white;
    width: @sign-in-width;
    z-index: 999;

    .shadow(@shadow-base);
  }
}

//
// Costs table

.table-costs {
  border-width: 3px;
  line-height: @line-height-base;
  color: @color-aux;

  &, td {
    border: solid @color-gray;
  }

  td {
    border-width: 1px;
  }
}