// ------------------------------
// MoneyFlow Layout
// ------------------------------

html, body {
  height: 100%;
}

.content {
  margin: 0 auto;
  width: @content-width;
}

#account {
  font-size: 0.85em;
}