// ------------------------------
// MoneyFlow Typography
// ------------------------------

.float (@side) {
  .@{side} {
    float: @side;
  }
}

.float(right);
.float(left);

.text (@side) {
  .text-@{side} {
    text-align: @side;
  }
}

.text(right);
.text(left);
.text(center);
.text(justify);

.top { vertical-align: top; }
.bottom { vertical-align: bottom; }

a, .link {
  color: @color-base;
  text-decoration: none;

  &:hover {
    color: darken(@color-base, 10%);
    text-decoration: underline;
  }
}

.line-large {
  line-height: @line-height-large;
}

hr {
  border: 0;
  margin: 0;
  border-top: 1px solid @color-base;
}

h1, h2, h3, h4, h5, h6 {
  color: @color-aux;
}