// ------------------------------
// MoneyFlow Variables
// ------------------------------

//
// Colors

@color-base: #39d;

//
// Appearance

@content-width: 750px;

@line-height-small: 15px;
@line-height-base: 25px;
@line-height-large: 35px;