// ------------------------------
// MoneyFlow Variables
// ------------------------------

//
// Colors

@color-white: #fff;

@color-gray: #91B7CF;

@color-base: #63C3FF;
@color-aux: #3482B2;
@color-go: #90E87B;
@color-stop: #FA5556;

//
// Appearance

@spacing-small: 10px;
@spacing-base:  20px;
@spacing-large: 30px;

@line-height-small: 15px;
@line-height-base:  30px;
@line-height-large: @line-height-base + @spacing-small;

@content-width: 550px;
@sign-in-width: @content-width / 3;
@header-height: 3 * @line-height-large;

//
// Shadows

@shadow-small: 0 0 5px fade(#000, 5%);
@shadow-base: 0 0 10px fade(#000, 15%);

//
// Text

@font-size-base: 14px;
@font-size-large: 24px;