// ------------------------------
// MoneyFlow Variables
// ------------------------------

//
// Colors

@color-gray: lighten(#000, 25%);
@color-light-gray: lighten(#000, 50%);

@color-base: #39d;

//
// Appearance

@content-width: 750px;

@spacing-small: 10px;
@spacing-base: 20px;
@spacing-large: 30px;

@line-height-small: 15px;
@line-height-base: 25px;
@line-height-large: 35px;